body{
    color: #ffffff;
    font-family: 'Gaegu', cursive;
}
a{
    text-decoration: none;
}
.logo{
    width: 300px;
    margin-top: 14px;
}
.main-nav{
    display: flex;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-top: 60px;
    list-style: none;
}
.main-nav li{
    margin-left: 36px;      
}
.main-nav a{
    color: #ffffff;
    font-family: 'Gaegu', cursive;
    text-decoration: none;
}
.main-nav a:hover{
    color: #C498C0;
}
.page-header{
    display: flex;
    justify-content: space-between;
}
.wrapper{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 4%;
}
.big-bg{
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}
#home{
    background-image: url(../image/coffee1.jpg),linear-gradient(#c9ffbf, #ffafbd);
    background-blend-mode: hard-light;
    min-height: 100vh;
}
.home-content{
    text-align: center;
    margin-top: 10%;
    background: rgba(139, 115, 115, 0.651);
    width: 65%;
    height: 110%;  
}
.home-content p{
    font-size: 2.0rem;
    margin: 10px 0 42px;
}
/* 見出し */
.page-title{
    font-size: 5rem;
    text-transform: none;
    font-weight: normal;
}
/* ボタン*/
.content-button{
    text-align: center;
    
}
button{
    font-size: 1.7rem;
    background: #C498C0;
    color: #ffffff;
    font-family: 'Gaegu', cursive;
    border-radius: 5px;
    padding: 18px 32px;
    border: none;
}
button:hover{
    background: rgb(201, 187, 200);
}
